# Le Titanic

## I Chargeons les modules et le fichier

In [ ]:
import pandas
import matplotlib.pyplot as plt

- `pandas` sert à traiter des données
- `matplotlib.pyplot` sert à tracer des courbes et des diagrammes ; nous l'avons chargé en choisissant en alias `plt` pour ne pas avoir à tout réécrire.

Nous allons charger le fichier `titanic.csv` dans une variable que nous appellerons `df`.

In [ ]:
df = pandas.read_csv("titanic.csv", sep=",")

Afficheons le contenu que nous venons de charger.

In [ ]:
df

## II Affichons des informations sur le tableau

Comme vous le voyez, il y a beaucoup trop de lignes et de colonnes pour tout afficher.
Nous allons utiliser la méthode `.info()`. Une méthode est appelée depuis la variable sur laquelle on souhaite l'appliquer.

In [ ]:
df.info()

__Question__ : Quelle colonne ne contient que 714 valeurs ? Quelle colonne ne contient que 204 valeurs ?

Réponse :

## III Modifions le tableau

Nous allons supprimer les colonnes inutiles.
Par exemple, pour supprimer la colonne `Embarked` :

In [ ]:
df.drop(labels="Embarked", axis=1, inplace=True)

In [ ]:
df.info()

- `labels` doit être le nom de la colonne à supprimer (entre crochets s'il y en a plusieurs, par exemple `labels=["Name", "Age"]`
- `axis` doit être soit 0 si on veut supprimer une ligne soit __1 si on veut supprimer une colonne__.
- `inplace=True` signifie que le changement est fait dans le tableau chargé dans `df`, sinon la méthode `.drop()`crée une copie.

__Question__ : Supprimer la colonne Cabin qui n'a pas assez de valeurs pour être utile.

In [ ]:
# Tapez votre code sur les lignes suivantes :



# la dernière ligne affiche le nom des colonnes pour vérifier votre réponse
assert df.shape[1] == 10

La colonne Age manque aussi beaucoup de données ; nous allons décider de remplacer celles qui manquent par la médiane des autres.

Pour afficher les indicateurs statistiques (moyenne, médiane, ...) du tableau, nous avons la méthode `.describe()` qui essaie de donner le plus d'indicateurs possibles.

In [ ]:
df.describe()

Sinon, nous pouvons utiliser les méthodes :
- `.mean()` pour la moyenne
- `.median()` pour la médiane
Pour cela, on se limite à une ou plusieurs colonnes comme l'exemple ci-dessous :

In [ ]:
# Pour afficher la moyenne de la colonne Fare :
print(df["Fare"].mean())

In [ ]:
# Pour afficher la médiane des colonnes Fare et SibSp :
print(df[["Fare", "SibSp"]].median())

__Question__ : En utilisant le code de votre choix, donnez la médiane des âges.

In [ ]:
# Votre code, sur les lignes suivantes :

In [ ]:
Réponse :

Remplissons désormais la colonne Age avec cette médiane grâce à la méthode `.fillna()`.
Pour cela, voici un exemple :

In [ ]:
# Pour remplir les valeurs manquantes de la colonne Fare (il n'en manque aucune mais c'est pour l'exemple)
df["Fare"].fillna(0, inplace=True)
# On se limite à la colonne : df["Fare"]
# On appelle la méthode .fillna()
# On donne en premier argument (dans les parenthèses) la valeur de remplissage
# Enfin, n'oubliez pas inplace=True

__Question__ : Remplissez la colonne `Age` avec la médiane que vous avez trouvez.

In [ ]:
# Votre code sur les lignes suivantes :



# Pour vérifier si toutes les cases sont remplies, cela doit vous affichez 891
assert df["Age"].count()== 891
assert int(df["Age"].mode()[0]) == 28

## IV Tableaux croisés

Le code suivant recharge tout et modifie le tableau correctement pour la suite.

In [ ]:
# Ce code sert à remettre le tableau à 0 en remplaçant les âges manquant par la médiane
import pandas
import matplotlib.pyplot as plt
df = pandas.read_csv("titanic.csv", sep=",")
df["Age"].fillna(df["Age"].median(), inplace=True)

Pour faire un tableau croisé, voici plusieurs exemples :

In [ ]:
pandas.crosstab(df["Pclass"], df["Embarked"])

In [ ]:
pandas.crosstab(df["Pclass"], df["Embarked"], margins=True)

In [ ]:
pandas.crosstab(df["Pclass"], df["Embarked"], margins=True, normalize="all")

In [ ]:
pandas.crosstab([df["Pclass"], df["SibSp"]], df["Embarked"], margins=True)

La fonction `pandas.crosstab()` exige deux arguments :
- en premier ce que vous allez mettre en ligne
- en deuxième ce que vous allez mettre en colonne

Il existe d'autres arguments optionnels :
- `margins=True` fait apparaître les marges (Total)
- `normalize='all'` donne les fréquences au lieu des effectifs ; il existe aussi `normalize='index'` ou `normalize='columns'` pour afficher les fréquences conditionnelles en lignes ou en colonnes respectivement

__Question__ : Affichez le tableau croisé des survivants (en colonnes) par rapport au sexe (en lignes). __Affichez toujours la marge.__
Vous ferez trois tableaux comme précisé dans les cases ci-dessous.

In [ ]:
# À la ligne suivante, faites les tableau des fréquences :

In [ ]:
# À la ligne suivante, faites les tableau des fréquences conditionnelles en ligne :

In [ ]:
# À la ligne suivante, faites les tableau des fréquences conditionnelles en colonne :

__Question__ : Répondez aux questions ci-dessous.

Fréquence marginale des hommes : 

Fréquence conditionnelle des survivants parmi les femmes : 

Fréquence conditionnelle des hommes parmi les survivants :

## V Tableau croisé par intervalles

Nous allons afficher les fréquences de survie selon le sexe __et__ l'âge.
Pour cela, nous allons découper la colonne Age en intervalles de 25 ans.

Pour découper une coloone, on utilise la fonction `pandas.cut()` qui prend en premier argument la colonne à découper.

Elle possède un autre argument `bins` qu'on peut régler sur la découpe souhaitée. Par exemple :

In [ ]:
pandas.cut(df["Age"], bins=[0,25,50,75,100])

Vous observez que l'âge a été remplacé par le bon intervalle. Utilisons donc cela dans un tableau croisé.

In [ ]:
pandas.crosstab([pandas.cut(df["Age"], bins=[0,25,50,75,100]), df["Sex"]], df["Survived"], margins=True)

__Question__ : En copiant et modifiant le code ci-dessus, faites ce qui est demandé.

In [ ]:
# À la ligne suivante, faites les tableau des fréquences conditionnelles en ligne :

In [ ]:
# À la ligne suivante, faites les tableau des fréquences conditionnelles en colonnes :

__Question__ : Répondez aux questions suivantes.

Donnez les fréquences conditionnelles

des survivants parmi les femmes de 25 ans ou moins : 
des survivants parmi les femmes de 25 à 50 ans : 
des survivants parmi les femmes de 50 à 75 ans : 
des survivants parmi les hommes de 25 ans ou moins : 
des survivants parmi les hommes de 25 à 50 ans : 
des survivants parmi les hommes de 50 à 75 ans : 
des hommes de 25 ou moins parmi les survivants : 
des femmes de 25 ou moins parmi les survivants :

## VI Histogramme

La ligne suivante dresse l'histogramme des survivants selon le sexe et l'âge.

In [ ]:
df.pivot(columns=["Survived", "Sex"])["Age"].plot.hist(stacked=True, bins=[0,10,20,30,40,50,60,70,80,90,100])

__Question__ : Quelle couleur représente les hommes survivants dans votre histogramme ?

Réponse :